header {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    padding: 30px;
    background-color: black;
    height: 100px;
    color: white;
    font-size: 50px;
}


footer {
    display: flex;
    justify-content: center;
    margin-top: 800px;
    background-color: black;
    color: white;
    font-size: 30px;
    height: 50px;
    padding: 30px;

}



footer>h3>span {
    margin-left: 20px;
    font-size: 20px;
    color: aquamarine;

}